[submodule "kernel"]
	path = kernel
	url = https://github.com/espressif/esp-idf.git
[submodule "code/drivers"]
	path = code/drivers
	url = https://github.com/zjl-git/esp32_driver.git
[submodule "code/middlewares/zlog/src"]
	path = code/middlewares/zlog/src
	url = https://github.com/zjl-git/middleware_zlog.git
[submodule "code/middlewares/ux/src"]
	path = code/middlewares/ux/src
	url = https://github.com/zjl-git/middleware_ux.git
[submodule "code/middlewares/shell/src"]
	path = code/middlewares/shell/src
	url = https://github.com/zjl-git/middleware_shell.git
[submodule "code/middlewares/atci/src"]
	path = code/middlewares/atci/src
	url = https://github.com/zjl-git/middleware_atci.git
[submodule "code/middlewares/third_party/esp_dsp/src"]
	path = code/middlewares/third_party/esp_dsp/src
	url = https://github.com/zjl-git/esp32_dsp.git
[submodule "code/middlewares/third_party/tinymaix/src"]
	path = code/middlewares/third_party/tinymaix/src
	url = https://github.com/zjl-git/middleware_tinymaix.git
[submodule "code/peripherals/led/src"]
	path = code/peripherals/led/src
	url = https://github.com/zjl-git/peripheral_led.git
[submodule "code/peripherals/key/src"]
	path = code/peripherals/key/src
	url = https://github.com/zjl-git/peripheral_key.git
[submodule "code/peripherals/lcd/src"]
	path = code/peripherals/lcd/src
	url = https://github.com/zjl-git/peripheral_lcd.git
[submodule "code/peripherals/oled/src"]
	path = code/peripherals/oled/src
	url = https://github.com/zjl-git/peripheral_oled.git
[submodule "code/middlewares/sim_commu/src"]
	path = code/middlewares/sim_commu/src
	url = https://github.com/zjl-git/middleware_sim_commu.git
[submodule "code/middlewares/third_party/minilzo/src"]
	path = code/middlewares/third_party/minilzo/src
	url = https://github.com/zjl-git/middleware_minilzo.git
[submodule "code/peripherals/flash/src"]
	path = code/peripherals/flash/src
	url = https://github.com/zjl-git/peripheral_flash.git
